@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaisei+Decol&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');


#content {max-width: 1600px;
margin: 0 auto }

body {
  background-color: whitesmoke;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;}

header  {background-color: aqua;
  display: grid;
  grid-template-columns: 150px auto;
  height: 100px;
  z-index: 1;
  width: 1200px;
  
  
  
}
.logo {width: 100px;}
nav {
  display: flex;
  justify-content:space-around ;
  margin: 30px;
  font-weight: bold;
  width:100%;


}


nav  {text-align: center;
text-decoration: none;
z-index: 1;;}

a {text-decoration: none;
}

a:hover{color:white;
background-color: #F4E04D;}

.hero-section {
display: grid;
grid-template-columns: 1fr 3fr 1fr;
margin-top: 0px;
width: 100%;
}
.ww {grid-column: 1/4;
  grid-row: 1/4;
}
  .hero-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    color: whitesmoke;
    margin-top: 100px;
    
  }
  .home{display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr  ;
   }

   footer {padding: 25px 50px;
    margin-top: 20px;
    margin-right: 0px;
    background-color:  #54F2F2;
    display: flex;
    justify-content: space-around;
    align-items: center;}


    @media screen and (max-width: 900px) {
      .hero-section, .home {
          display: block;
          height: auto;
      }
      nav, footer {
          flex-direction: column;
      }
      nav a {
          display: block;
          padding: 15px;
      }
      .hero-section {
          margin-top: 0;
      }
   
      footer {
          margin-top: 25px;
      }
    }