@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaisei+Decol&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');


#content {max-width: 1500px;
margin:  auto }

body {
  background-color: whitesmoke;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 10px;}
  ol { list-style-type: none;  }

header  {background-color: aqua;
  display: grid;
  grid-template-columns: 150px auto;
  height: 100px;
  z-index: 1;
  width: 100%;}
  
p {font-size: 20px;}
  

.logo {width: 100px;}
nav {
  display: flex;
  justify-content:space-around ;
  margin: 30px;
  font-weight: bold;
  width:100%;


}
 .zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 800px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
a .logo:hover{text-decoration: none;
border: none;
margin: none;
padding: 0px;}

.hero-section2 {width: 100%;
background-color: grey;}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto ;
  text-align: center;
  
}
.hero_img {width:100%}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
h3 {text-align: center;}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.hobby-img {margin: auto;
width: 700px;
background-color:grey;
text-align: center;}

button:hover, a:hover {
  opacity: 0.7;
}
.myfig-img {display: flex;
flex-direction: row;
align-self:center;}

nav  {text-align: center;
text-decoration: none;
z-index: 1;
padding: 5px ;}



a:hover{color:white;
background-color: #F4E04D;
border: #54F2F2;
border-width: 3px;
margin: 6px ;
padding: 6px;
}

.hero-section {
display: grid;
grid-template-columns: 1fr 3fr 1fr;
margin-top: 0px;
width: 100%;
}
.ww {grid-column: 1/4;
  grid-row: 1/4;
  width: 100%;
}
  .hero-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    color: whitesmoke;
    margin-top: 100px;
    
  }
  .home{display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr  ;
   }
   .help {align-self:left;
      align-items: right;}

   footer {padding: 25px 50px;
    margin-top: 20px;
    margin-right: 0px;
    background-color:  #54F2F2;
    display: flex;
    justify-content: space-around;
    align-items: center;}

    .others {
      margin-left: 40%;
    }

    @media screen and (max-width: 900px) {
      .hero-section, .home {
          display: block;
          height: auto;
      }
      nav, footer {
          flex-direction: column;
      }
      nav a {
          display: block;
          padding: 15px;
      }
      .hero-section {
          margin-top: 0;
      }
      .help{
        width: 100%;
        margin-right: 0%;
      }
   
      footer {
          margin-top: 25px;
          width: 100%;
      }
    }